<div th:fragment="bottom" xmlns="http://www.w3.org/1999/html">
    tlf. 12 34 56 78 - Vikarvej 17, Vikarby 1750 - info@vikarwork.dk - CVR: 123 456 789

    <div id="message" th:classappend="${showMessage} ? 'show' : ''" th:switch="${messageType}">
        <div id="innerMessage" class="success" th:case="success">
            <i class="fas fa-check"></i> <span th:text="${message}"></span> <a href="#">dismiss</a>
        </div>
        <div id="innerMessage" class="warning" th:case="warning">
            <i class="fas fa-exclamation"></i> <span th:text="${message}"></span> <a href="#">dismiss</a>
        </div>
        <div id="innerMessage" class="error" th:case="error">
            <i class="fas fa-times"></i> <span th:text="${message}"></span> <a href="#">dismiss</a>
        </div>
        <div id="innerMessage" class="info" th:case="info">
            <i class="fas fa-info"></i> <span th:text="${message}"></span> <a href="#">dismiss</a>
        </div>
        <div id="innerMessage" class="unknown" th:case="unknown">
            <i class="fas fa-question"></i> <span th:text="${message}"></span> <a href="#">dismiss</a>
        </div>
        <div id="innerMessage" th:case="*"></div>
    </div>

    <script type="text/javascript">

        setTimeout(function() {
            $("#message").removeClass("show");
        }, 20000);

        $('#innerMessage a').on('click', function(){
            $('#message').removeClass('show');
        });

    </script>
</div>
