<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Update IP Range</title>
</head>
<body>

<div class="container">
  <header th:include="fragments/header :: navbar"></header>

  <div id="inner_container"><br><br><br>
    <h1>Update IP Range</h1>

    <form action="#" th:action="@{/saveIpRange}" th:object ="${ipRange}" method="POST">
      <style>
        input {
          width: 50px;
        }
      </style>
      <input type="hidden" th:field="*{id}" />
      <label>IP Range From:</label><br>
      <input type="number" th:field = "*{ipFromPart1}" class="smallNumber">.
      <input type="number" th:field = "*{ipFromPart2}" class="smallNumber">.
      <input type="number" th:field = "*{ipFromPart3}" class="smallNumber">.
      <input type="number" th:field = "*{ipFromPart4}" class="smallNumber"><br><br>
      <label>IP Range To</label><br>
      <input type="number" th:field = "*{ipToPart1}" class="smallNumber">.
      <input type="number" th:field = "*{ipToPart2}" class="smallNumber">.
      <input type="number" th:field = "*{ipToPart3}" class="smallNumber">.
      <input type="number" th:field = "*{ipToPart4}" class="smallNumber"><br><br>
      <button type="submit" class="form-control mb-4 col-4" >Update IP Range</button>
    </form>
  </div>

</div>

</body>
</html>