<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: styles">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<H1>Student attendance</H1>

<div class="container">
    <header th:include="fragments/header :: navbar"></header>

    <div id="inner_container">

        <h1>IP Range List</h1>
        <form th:action="@{/saveIpRange}" th:object ="${newIpRange}" method="POST">
            <style>
                input {
                    width: 50px;
                }
            </style>
            <label>IP Range From:</label><br>
            <input type="number" th:field = "*{ipFromPart1}" class="smallNumber">.
            <input type="number" th:field = "*{ipFromPart2}" class="smallNumber">.
            <input type="number" th:field = "*{ipFromPart3}" class="smallNumber">.
            <input type="number" th:field = "*{ipFromPart4}" class="smallNumber"><br><br>
            <label>IP Range To</label><br>
            <input type="number" th:field = "*{ipToPart1}" class="smallNumber">.
            <input type="number" th:field = "*{ipToPart2}" class="smallNumber">.
            <input type="number" th:field = "*{ipToPart3}" class="smallNumber">.
            <input type="number" th:field = "*{ipToPart4}" class="smallNumber"><br><br>
            <button type="submit" class="form-control mb-4 col-4" >Create IP Range</button>
        </form>
        </form>
        <!--<a th:href="@{/createClassForm}" >Create New Class</a>-->
        <br/><br/>
        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>Ip Range ID</th>
                <th>IP Range From</th>
                <th>IP Range To</th>
                <td>Action</td>

            </tr>
            </thead>
            <tbody>
            <tr th:each="ipRange : ${listIpRanges}">
                <td th:text="${ipRange.id}">Range ID</td>
                <td th:text="${ipRange.ipFromPart1+'.'+ipRange.ipFromPart2+'.'+ipRange.ipFromPart3+'.'+ipRange.ipFromPart4}">IP range from</td>
                <td th:text="${ipRange.ipToPart1+'.'+ipRange.ipToPart2+'.'+ipRange.ipToPart3+'.'+ipRange.ipToPart4}">IP range from</td>

                <td>
                    <a th:href="@{/editIpRangeForm/{id}(id=${ipRange.id})}">Edit</a>
                    <a th:href="@{/deleteIpRange/{id}(id=${ipRange.id})}">Delete</a>
                    <!--  <a th:href="/@{'/edit/' + ${product.id}}">Edit</a> -->
                    &nbsp;&nbsp;&nbsp;
                    <!-- <a th:href="/@{'/delete/' + ${product.id}}">Delete</a> -->
                </td>
            </tr>
            </tbody>
        </table>

    </div>


</div>
</body>
</html>