<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
  <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>
<div class="container">
  <header th:include="fragments/header :: navbar"></header>

  <div id="inner_container">

    <H1>Session info</H1>

    <!--<h2>students</h2>
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="student : ${thisSession.course.students}">
        <td th:text="${student.firstname}"></td>
        <td th:text="${student.lastname}"></td>
        <td th:text="${student.email}"></td>
        <td></td>
      </tr>
      </tbody>
    </table>-->

    <span th:each="a : ${attentionList}">
      <h3 th:text="${a.name}"></h3>
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Attendance</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="l : ${a.list}">
          <td th:text="${l.firstname}"></td>
          <td th:text="${l.lastname}"></td>
          <td th:text="${l.email}"></td>
          <td th:switch="${l.attendance}">
            <span th:case="1" class="attended"><i class="fas fa-check"></i> Attended</span>
            <span th:case="0" class="notAttended"><i class="fas fa-times"></i> Not attended</span>
          </td>
        </tr>
        </tbody>
      </table>
    </span>

  </div>

  <footer th:include="fragments/footer :: bottom"></footer>
</div>
</body>
</html>