<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
  <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>
<div class="container">
  <header th:include="fragments/header :: navbar"></header>

  <div id="inner_container">

    <H1>Sessions list</H1>

    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th>Date</th>
        <th>Course id</th>
        <th>Session code</th>
        <th>Teachers</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="s : ${sessions}">
        <td th:text="${s.date}"></td>
        <td th:text="${s.course.name}"></td>
        <td th:text="${s.sessionCode}"></td>
        <td>
          <span th:each="t : ${s.course.teachers}" th:text="${t.firstname + ' ' + t.lastname}"></span>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

  <footer th:include="fragments/footer :: bottom"></footer>
</div>
</body>
</html>