<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
  <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>
<div class="container">
  <header th:include="fragments/header :: navbar"></header>

  <div id="inner_container">

    <div id="navigation">
      <div id="breadcrumb"><a href="/dashboard">Dashboard</a> / session list</div>
      <a href="/dashboard" id="back"><i class="fas fa-angle-left"></i> Dashboard</a>
    </div>

    <H1>Sessions list</H1>

    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th>Date</th>
        <th>Course</th>
        <th>Teachers</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="s : ${sessions}">
        <td th:text="${#dates.format(s.date, 'HH:mm dd/MM/yyyy')}"></td>
        <td th:text="${s.course.name}"></td>
        <td>
          <span th:each="t : ${s.course.teachers}" th:text="${t.firstname + ' ' + t.lastname + ', '}"></span>
        </td>
        <td>
          <span th:switch="${sessionType}">
            <a th:case="t" th:href="${'/reveal_code/' + s.id}" class="btn btn-primary mr-2 btn-sm"><i class="fas fa-eye"></i> Reveal code</a>
            <a th:case="s" th:href="${'/attend_session/' + s.id}" class="btn btn-primary mr-2 btn-sm"><i class="fas fa-user-check"></i> Attend</a>
          </span>
          <a th:href="${'/session_info/' + s.id}" class="btn btn-dark mr-2 btn-sm"><i class="fas fa-ellipsis-h"></i> More</a>
        </td>
        <td th:text="${#dates.minute(s.date) + 45}"></td>
      </tr>
      </tbody>
    </table>

  </div>

  <footer th:include="fragments/footer :: bottom"></footer>
</div>
</body>
</html>