<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: styles">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <meta charset="UTF-8">
  <title>Students</title>
</head>
<body>
<div class="container">

  <header th:include="fragments/header :: indexbar"></header>

  <div id="inner_container">
    <H1>Student attendance</H1>

    <h1>Student List</h1>
    <a th:href="@{/createStudentForm}" >Create New Student</a>
    <br/><br/>
    <table border="1" cellpadding="10">
      <thead>
      <tr>
        <th>Class ID</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Password</th>
        <td>Action</td>
      </tr>
      </thead>
      <tbody>
      <tr th:each="student : ${listStudents}">
        <td th:text="${student.id}">Student ID</td>
        <td th:text="${student.firstname}">FirstName</td>
        <td th:text="${student.lastname}">LastName</td>
        <td th:text="${student.email}">Email</td>
        <td th:text="${student.password}">Password</td>
        <td>
          <a th:href="@{/showStudentUpdateForm/{id}(id=${student.id})}">Edit</a>
          <a th:href="@{/deleteStudent/{id}(id=${student.id})}">Delete</a>
          <a th:href="@{/addStudentToClass/{id}(id=${student.id})}">Add To Classes</a>

        </td>
      </tr>
      </tbody>
    </table>

  </div>

</div>

</body>
</html>