<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Update course</title>
</head>
<body>

<div class="container">
  <header th:include="fragments/header :: navbar"></header>

  <div id="inner_container">

    <h1>Update course</h1>

    <form action="#" th:action="@{/saveCourse}" th:object ="${courses}" method="POST">
      <input type="hidden" th:field="*{id}" />
      <input type="text" th:field = "*{name}"  class="form-control mb-4 col-4">
      <button type="submit" class="form-control mb-4 col-4" >Update course</button>
    </form>
  </div>

</div>

</body>
</html>